<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>Estacionamiento</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-label>{{ username }}</ion-label>
      <ion-button class="blue-button" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="circle-container">
    <ng-container *ngFor="let tipoEst of getUniqueTipoEst()">
      <div class="circle-divider" *ngIf="tipoEst !== 'Propietario' && tipoEst !== 'Arrendatario'">
        <span class="circle-label">{{ tipoEst }}</span>
      </div>
      <div class="circle-wrapper" *ngIf="tipoEst !== 'Propietario' && tipoEst !== 'Arrendatario'">
        <ion-button *ngFor="let estacionamiento of getEstacionamientosByTipoEst(tipoEst)" [id]="estacionamiento.id_est" [color]="estacionamiento.estado === '1' ? 'danger' : 'success'" class="circle-button">
          {{ estacionamiento.id_est.toString().substring(1) }}
        </ion-button>
      </div>
    </ng-container>
  </div>
</ion-content>

