<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Estacionamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Estacionamiento</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row *ngFor="let type of buttonTypes">
      <ion-col size="12">
        <h2>{{ getTypeLabel(type) }}</h2>
        <ion-row>
          <ion-col *ngFor="let button of getButtonsByType(type)" size="6">
            <ion-button expand="full" [color]="button.color" (click)="changeButtonState(button)">
              <ion-label>{{ button.label }}</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
