<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="email" [(ngModel)]="usuario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="clave"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="login()">Iniciar sesión</ion-button>
  <div class="logo-container" style="margin-top: 40%;">
    <img
      src="/assets/logo.png"
      alt="Logo de la empresa"
    />
  </div>
</ion-content>
