<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="patente">
      <ion-icon aria-hidden="true" name="car"></ion-icon>
      <ion-label>patente</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estacionamiento">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>estacionamiento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="visita">
      <ion-icon aria-hidden="true" name="person-add"></ion-icon>
      <ion-label>visita</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="paquete">
      <ion-icon aria-hidden="true" name="cube"></ion-icon>
      <ion-label>paquete</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
