<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>Paquete</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-label>{{ username }}</ion-label>
      <ion-button class="blue-button" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment (ionChange)="cambiarSegmento($event)" [(ngModel)]="segmentoActual">
    <ion-segment-button value="ingreso" checked>
      <ion-label>Ingreso</ion-label>
    </ion-segment-button>
    <ion-segment-button value="retiro">
      <ion-label>Retiro</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="segmentoActual === 'ingreso'">
    <!-- Sección de ingreso -->
    <ion-item>
      <ion-label>Edificio</ion-label>
      <ion-select [(ngModel)]="selectedTorre" (ionChange)="seleccionarTorre($event)">
        <ion-select-option *ngFor="let edificio of edificios" [value]="edificio.id_edificio">
          {{ edificio.nombre_edificio }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Departamento</ion-label>
      <ion-select [(ngModel)]="selectedDepartamento" (ionChange)="seleccionarDepartamento($event)">
        <ion-select-option *ngFor="let departamento of departamentosFiltrados" [value]="departamento.id_departamento">
          {{ departamento.nombre_departamento }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Cámara</ion-label>
      <ion-button slot="end" (click)="capturePhoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </ion-item>

    <div *ngIf="capturedImageUri" class="image-container">
      <img [src]="capturedImageUri" alt="Imagen capturada" />
    </div>
    

    <ion-item>
      <ion-label>Mensaje</ion-label>
      <ion-textarea #mensajeInput></ion-textarea>
    </ion-item>

    <ion-button expand="full" color="primary" (click)="registrar()">Registrar</ion-button>
  </ng-container>

  <ng-container *ngIf="segmentoActual === 'retiro'">
    <!-- Sección de retiro -->
    <ion-list>
      <!-- Encabezado de la lista -->
      <ion-list-header>
        <ion-label>Departamento</ion-label>
        <ion-label>Torre</ion-label>
        <ion-label>Fecha</ion-label>

      </ion-list-header>

      <!-- Items de la lista -->
      <ion-item *ngFor="let pedido of pedidosR" (click)="verFotoPedido(pedido)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>{{ pedido.id_departamento }}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{ pedido.id_edificio }}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{ formatearFecha(separarFechaHora(pedido.fecha_recepcion).fecha) }}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="pedidoSeleccionado === pedido">
            <ion-col>
              <div class="image-container">
                <img [src]="pedido.evidencia_recepcion" alt="Foto del pedido" />
              </div>
              <div *ngIf="nuevaFotoRetiro">
                <div class="image-container">
                  <img [src]="nuevaFotoRetiro" alt="Nueva foto del retiro" />
                </div>
              </div>
              <div>
                <ion-button expand="full" color="primary" (click)="capturarFotoRetiro()">
                  {{ nuevaFotoRetiro ? 'Cambiar Foto' : 'Foto Retiro' }}
                </ion-button>
              </div>
              <div *ngIf="pedido.evidencia_recepcion && nuevaFotoRetiro">
                <ion-button expand="full" color="primary" (click)="registrarRetiro()">Registrar Retiro</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    
  </ng-container>

</ion-content>
