<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>Formulario de Visitas</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-label>{{ username }}</ion-label>
      <ion-button class="blue-button" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Formulario de Visita</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>RUT</ion-label>
      <ion-input type="text" [(ngModel)]="rutV" (ionChange)="validarRutDV(rutV)" #rutInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombreV"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="apellidoV"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Edificio</ion-label>
      <ion-select [(ngModel)]="selectedTorre" (ionChange)="seleccionarTorre($event)">
        <ion-select-option *ngFor="let edificio of edificios" [value]="edificio.id_edificio">
          {{ edificio.nombre_edificio }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Departamento</ion-label>
      <ion-select [(ngModel)]="selectedDepartamento" (ionChange)="seleccionarDepartamento($event)">
        <ion-select-option *ngFor="let departamento of departamentosFiltrados" [value]="departamento.id_departamento">
          {{ departamento.nombre_departamento }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Patente (Opcional)</ion-label>
      <ion-input type="text" [(ngModel)]="patente"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Estacionamiento (Opcional)</ion-label>
      <ion-select [(ngModel)]="opcionSeleccionada">
        <ion-select-option value="">Seleccionar</ion-select-option>
        <ion-select-option *ngFor="let estacionamiento of dataEst" [value]="estacionamiento.id_est">
          {{ estacionamiento.tipo_est }} - {{ estacionamiento.id_est.toString().substring(estacionamiento.id_est.toString().length - 3) }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="registrar()">Registrar</ion-button>
</ion-content>
