<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>Patente</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-label>{{ username }}</ion-label>
      <ion-button class="blue-button" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Patente</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="input-container">
    <ion-item>
      <ion-label position="floating">Ingrese la patente</ion-label>
      <ion-input type="text" [(ngModel)]="patente" (ngModelChange)="convertirAMayusculas()"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="buscar()">Buscar</ion-button>

    <div *ngIf="mostrarMensaje" class="mensaje-container">
      <p>Vehículo no encontrado en el condominio</p>
      <ion-button expand="full" (click)="agregarComoVisitaSoloPatente()">Agregar como visita</ion-button>
    </div>
  </div>

  <div *ngIf="vehiculo" class="datos-container">
    <h2>Datos del vehículo:</h2>
    <p><strong>Patente:</strong> {{ vehiculo.patente }}</p>
    <p><strong>Tipo de vehículo:</strong> {{ vehiculo.tipo_veh }}</p>
    <p><strong>Color del vehículo:</strong> {{ vehiculo.color_veh }}</p>
    <p><strong>Primer nombre:</strong> {{ vehiculo.primer_nombre }}</p>
    <p><strong>Primer apellido:</strong> {{ vehiculo.primer_apellido }}</p>
    <p><strong>ID del departamento:</strong> {{ vehiculo.id_departamento }}</p>
    <p><strong>ID del est:</strong> {{ vehiculo.id_est }}</p>
    <p><strong>Tipo de est:</strong> {{ vehiculo.tipo_est }}</p>
  </div>

  <div *ngIf="vehiculoVisita" class="datos-container">
    <h2>Datos del vehículo Visita:</h2>
    <p><strong>Patente:</strong> {{ vehiculoVisita.patente }}</p>
    <p><strong>Nombre:</strong> {{ vehiculoVisita.nombre }}</p>
    <p><strong>Apellido:</strong> {{ vehiculoVisita.apellido }}</p>
    <p><strong>Rut:</strong> {{ vehiculoVisita.rut_visita + "-" + vehiculoVisita.dv}}</p>
    <p><strong>Ultima Visita</strong></p>
    <p><strong>Departamento:</strong> {{ vehiculoVisita.id_departamento }}</p>
    <p><strong>Torre:</strong> {{ vehiculoVisita.id_edificio }}</p>
    <p><strong>Estacionamiento Ocupado:</strong> {{ vehiculoVisita.id_est.toString().substring(vehiculoVisita.id_est.toString().length - 3) }}</p>
    <p><strong>Tipo de est:</strong> {{ vehiculoVisita.tipo_est }}</p>
  </div>

  <ng-container *ngIf="vehiculoVisita !== undefined">
    <ion-button expand="full" *ngIf="vehiculoVisita.estado === '0'" (click)="agregarComoVisita()">Agregar como visita</ion-button>
    <ion-button expand="full" *ngIf="vehiculoVisita.estado === '1'" (click)="realizarSalida()">Salida</ion-button>
  </ng-container>
</ion-content>
